---
permalink: /
layout: default
---
<div id="Content">
    <div class="content_wrapper clearfix">
        <div class="sections_group">
            <div class="entry-content">
                <div class="section mcb-section" style="padding-top:160px; padding-bottom:80px; ">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap one  valign-top clearfix">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_column">
                                    <div class="column_attr" style=" padding:0 10% 0 0;">
                                        <h2>Hello!</h2>
                                        <hr class="no_line" style="margin: 0 auto 50px;" />
                                        {% for content in site.data.about %}
                                        <h2>
                                            {{content.line1}}
                                            <span class="themecolor">{{content.line2}}</span>
                                            {{content.line3}}
                                        </h2>
                                        {% endfor %}
                                        <hr class="no_line" style="margin: 0 auto 50px;" />
                                        <h2 style="font-weight: 400;">More info and contact here</h2>
                                        <hr class="no_line" style="margin: 0 auto 50px;" />
                                        <a class="button  button_large button_js"
                                            href="/hire-me"><span class="button_label">Say
                                                hello!</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section mcb-section" style="padding-top:0px; padding-bottom:0px; ">
                    <div class="section_wrapper mcb-section-inner">
                        <div class="wrap mcb-wrap one  valign-top clearfix">
                            <div class="mcb-wrap-inner">
                                <div class="column mcb-column one column_column">
                                    <div class="column_attr">
                                        <div
                                            style="background: url({{ site.baseurl }}/assets/content/freelancer/images/home_freelancer_sep.png) no-repeat center center; height: 36px;">
                                        </div>
                                    </div>
                                </div>
                                <div class="column mcb-column one column_column">
                                    <div class="column_attr">
                                        <h1>Selected works</h1>
                                    </div>
                                </div>
                                <div class="column mcb-column one column_portfolio ">
                                    <div class="column_filters">
                                        <div class="portfolio_wrapper isotope_wrapper ">
                                            <ul class="portfolio_group lm_wrapper isotope col-2 masonry-hover">
                                                {% for post in site.posts %}
                                                <li class="portfolio-item isotope-item  has-thumbnail">
                                                    <div class="masonry-hover-wrapper">
                                                        <div class="hover-desc bg-light">
                                                            <div class="desc-inner">
                                                                <h3 class="entry-title" itemprop="headline"><a
                                                                        class="link"
                                                                        href="{{ site.baseurl }}/assets/content/freelancer/item1.html">{{ post.title }}</a></h3>
                                                                <div class="desc-wrappper">{{ post.description }}</div>
                                                            </div>
                                                            <div class="links-wrappper clearfix">
                                                                <a class="zoom"
                                                                    href="{{ site.baseurl }}/assets/content/freelancer/images/home_freelancer_portfolio1.jpg"
                                                                    rel="prettyphoto"><i class="icon-search"></i></a><a
                                                                    class="link"
                                                                    href="{{ post.url }}"><i
                                                                        class="icon-link"></i></a>
                                                            </div>
                                                        </div>
                                                        <div class="image-wrapper scale-with-grid">
                                                            <a class="link"
                                                                href="{{ post.url }}"><img
                                                                    width="700" height="700"
                                                                    src="{{ site.baseurl }}/assets/content/freelancer/images/home_freelancer_portfolio1.jpg"
                                                                    class="scale-with-grid wp-post-image"
                                                                    alt="home_freelancer_portfolio1" itemprop="image" />
                                                            </a>
                                                        </div>
                                                    </div>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="column mcb-column one column_column">
                                    <div class="column_attr align_right">
                                        <a class="button  button_large button_js"
                                            href="{{ site.baseurl }}/assets/content/freelancer/work.html"><span class="button_label">See
                                                all realizations</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section the_content no_content">
                    <div class="section_wrapper">
                        <div class="the_content_wrapper"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>