<footer id="Footer" class="clearfix">
    <div class="footer_action">
        <div class="container">
            <div class="column one column_column">
                <div
                    style="background: url({{ site.baseurl }}/assets/content/freelancer/images/home_freelancer_sep.png) no-repeat center center; height: 36px;">
                </div>
            </div>
        </div>
    </div>

    {% for info in site.data.info %}
    <div class="widgets_wrapper">
        <div class="container">
            <div class="column one-third">
                <aside class="widget widget_text">
                    <h4>Hello!</h4>
                    <div class="textwidget">
                        <h5>{{info.name}}</h5>
                        <p class="big">
                            {{info.line1}}
                            <br> {{info.line2}}
                            <br> {{info.line3}}
                            <br>
                            <a href="tel:{{info.phone}}">{{info.phone}}</a>
                            <br>
                            <a href="mailto:{{info.email}}">{{info.email}}</a>
                        </p>
                    </div>
                </aside>
            </div>
            <div class="column one-third">
                <aside class="widget widget_text">
                    <h4>Follow Me</h4>
                    <div class="textwidget">
                        <p style="line-height: 30px; font-size: 30px;">
                            <a href="#"><i class="icon-facebook-circled"></i></a><a href="#"><i
                                    class="icon-gplus-circled"></i></a><a href="#"><i
                                    class="icon-twitter-circled"></i></a><a href="#"><i
                                    class="icon-pinterest-circled"></i></a>
                        </p>
                    </div>
                </aside>
            </div>
            <div class="column one-third">
                <aside class="widget widget_text">
                    <h4>Want to hire me?</h4>
                    <div class="textwidget">
                        <p class="big">
                            {{info.hireline1}}
                        </p>
                        <p>
                            {{info.hireline2}}
                        </p>
                        <a class="button  button_theme button_js" href="{{ site.baseurl }}/hire-me"><span
                                class="button_label">Say hello!</span></a>
                    </div>
                </aside>
            </div>
        </div>
    </div>
    {% endfor %}

    <div class="footer_copy">
        <div class="container">
            <div class="column one">
                <a id="back_to_top" class="button button_left button_js" href="#"><span class="button_icon"><i
                            class="icon-up-open-big"></i></span></a>
                <div class="copyright">
                    &copy; 2020 DrDjango - <a target="_blank" rel="nofollow"
                        href="https://github.com/jayprakash02">JayPrakash</a>
                </div>
                <ul class="social"></ul>
            </div>
        </div>
    </div>
</footer>