<div id="Header_creative">
    <a href="#" class="creative-menu-toggle"><i class="icon-menu"></i></a>
    <ul class="social creative-social test687"></ul>
    <div class="creative-wrapper">
        <div id="Top_bar">
            <div class="one">
                <div class="top_bar_left">
                    <div class="logo">
                        <a id="logo" href="/" title="BeFreelancer - BeTheme"><img class="logo-main scale-with-grid"
                                src="{{ site.baseurl }}/assets/content/freelancer/images/freelancer.png" alt="freelancer" /><img
                                class="logo-mobile scale-with-grid"
                                src="{{ site.baseurl }}/assets/content/freelancer/images/freelancer.png" alt="freelancer" />
                        </a>
                    </div>
                    <div class="menu_wrapper">
                        <nav id="menu" class="menu-main-menu-container">
                            <ul id="menu-main-menu" class="menu">
                                <li class="current_page_item">
                                    <a href="{{ site.baseurl }}"><span>Home</span></a>
                                </li>
                                <li>
                                    <a href="{{ site.baseurl }}/work"><span>Work</span></a>
                                </li>
                                <li>
                                    <a href="{{ site.baseurl }}/bio"><span>Bio</span></a>
                                </li>
                                <li>
                                    <a href="{{ site.baseurl }}/hire-me"><span>Hire me</span></a>
                                </li>
                            </ul>
                        </nav><a class="responsive-menu-toggle" href="#"><i class="icon-menu"></i></a>
                    </div>
                    <div class="search_wrapper">
                        <form method="get" id="searchform" action="#">
                            <i class="icon_search icon-search"></i><a href="#" class="icon_close"><i
                                    class="icon-cancel"></i></a>
                            <input type="text" class="field" name="s" id="s" placeholder="Enter your search" />
                            <input type="submit" class="submit" value="" style="display:none;" />
                        </form>
                    </div>
                </div>
                <div class="banner_wrapper"></div>
            </div>
        </div>
        <div id="Action_bar">
            <ul class="social"></ul>
        </div>
    </div>
</div>