<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8 lt-ie7 "> <![endif]-->
<!--[if IE 7]><html class="no-js lt-ie10 lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]><html class="no-js lt-ie10 lt-ie9"> <![endif]-->
<!--[if IE 9]><html class="no-js lt-ie10"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js">
<!--<![endif]-->

<html>
{% include head.html %}

<body class="home page color-custom style-default layout-full-width nice-scroll-on mobile-tb-left button-stroke no-content-padding header-creative header-open minimalist-header-no sticky-white ab-hide subheader-title-left menu-line-below tr-menu tr-content tr-footer">
    {% include navbar.html %}
    <div id="Wrapper">
        <div id="Header_wrapper">
            <header id="Header"></header>
        </div>
       {{ content }}
       {% include footer.html %}
    </div>
    {% include script.html %}
</body>

</html>
