<!doctype html>
<html>
{% include head.html %}

<body style="background-color: #9fcadc !important;"
    class="home page-template page-template-template-elementor-builder page-template-template-elementor-builder-php page page-id-151 elementor-default elementor-kit-161 elementor-page elementor-page-151">
    <div class="page page_wrap theme-style-classic">
        <div class="preloader" style="display: none;">
            <div class="centrize full-width">
                <div class="vertical-center">
                    <div class="spinner box-rotation" style="display: none;"></div>
                </div>
            </div>
        </div>
        <div class="background gradient">
            <ul class="bg-bubbles">
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
                <li></li>
            </ul>
        </div>
        <div class="container opened disable-sidebar" data-animation-in="fadeInUp" data-animation-out="fadeOutUp">
            {% include navigation.html %}
            <div class="card-inner active current-menu-item fadeInUp" id="card-home-e">
                <div class="card-wrap">
                    <div id="post-151" class="post-151 page type-page status-publish hentry">
                        <div data-elementor-type="wp-page" data-elementor-id="151" class="elementor elementor-151"
                            data-elementor-settings="[]">
                            <div class="elementor-inner">
                                <div class="elementor-section-wrap">
            {{ content }}
        </div>
    </div>
</div>
</div>
</div>
</div>
        </div>

    </div>
    {% include scripts.html %}

</body>

</html>