<html>
{% include head.html %}

<body class="home page color-custom style-default layout-full-width nice-scroll-on mobile-tb-left button-stroke no-content-padding header-creative header-open minimalist-header-no sticky-white ab-hide subheader-title-left menu-line-below tr-menu tr-content tr-footer">
    <div id="Wrapper">
        <div id="Header_wrapper">
            <header id="Header"></header>
        </div>
       {{ content }}
       {% include footer.html %}
    </div>
    {% include script.html %}
</body>

</html>